/* 
    Document   : main
    Created on : Sep 20, 2010, 7:54:25 PM
    Author     : vitex
    Description: main css
*/


.navbar {
    opacity: 0.9;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
}

.avatar { width: 100px; }

.required { border: #f5ad66 1px solid; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
div.error span { color: #d14; font-size: large; }

fieldset { border: 1px solid #333333; margin: 10px; padding: 10px; display: inline-block; }
legend {  border: 1px solid #333333; margin: 2px; padding: 2px; }

#StatusMessages { background-color: #d7d7d6; border: 1px solid wheat; margin: 5px; padding: 5px; overflow: auto; max-height: 400px;}
#StatusMessages.well {
    margin: 2px;
    padding: 2px;
}

.jellybean {
    background: #b9d4d9;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #0074cc;
    color: #1b2859;
    display: inline-table;
    font-size: 13px;
    padding: 2px;
    margin: 1px;
}

.gray {
    background: #bbb;
    color: #333333;
    border-color: #999;
}
.gray a { color: #222;  }


    
.fieldblock {
    border-bottom:  1px solid #b9d4d9;
    margin: 5px;
    padding-bottom: 5px;
}

.fieldblock .FieldLabel {
    font-size: x-small;
    margin-left: 10px;
    text-align: right;
    width: 100%;
}

.req { border-left: 5px solid red; padding-left: 5px; }

fieldset,legend { font-size: medium; line-height: normal; border-radius: 6px; padding-left: 6px;padding-right: 6px; width: auto; }

a img.avatar { height: 30px; width: 30px;}

#FootAbout { text-align: end; vertical-align: bottom; }

.dropdown-menu img { height: 14px; }
.host_icon { height: 20px; }

#preload { position: absolute; top: 40%; z-index: 20; top: 40%; left: 40%; visibility: hidden; }
#listing { margin: 20px;}
