/debian/icinga-editor/
/logos/
/nbproject/private/
/nbproject/
/test/build/
/vendor/
/debian/icinga-editor.postrm.debhelper
/debian/icinga-editor.substvars
/composer.lock
/.vagrant/
/winsensor/build/
/winsensor/build-winsensordeploy-Desktop_Qt_5_9_1_GCC_64bit-Ladu011bnu00ed/