Source: icinga-editor
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/Icinga-Editor

Package: icinga-editor
Depends: ${misc:Depends},libjs-twitter-bootstrap, ease-framework-bricks, dbconfig-common, icinga-common, monitoring-plugins-basic, mtr-tiny, php-image-graphviz, libjs-d3js, php-cli, php-mail, php-curl, php-intl, composer, libjs-twitter-bootstrap-switch, nsca, traceroute , php-cli
Recommends: default-mysql-server, graphicsmagick-imagemagick-compat, icinga-cgi,icinga-cgi-bin
Pre-Depends: php-robmorgan-phinx
Architecture: all
Section: web
Priority: optional
Description: Icinga Configuration Web Interface
 Tool for generation icinga 1.x configuration for multiplete users.
