Source: icinga-editor
Build-Depends: debhelper (>= 13~)
Standards-Version: 4.3.0
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Section: monitoring
Homepage: https://github.com/VitexSoftware/Icinga-Editor

Package: icinga-editor
Depends: ${misc:Depends},php-ease-bootstrap-widgets, dbconfig-common, icinga-common, php-ease-fluentpdo,  monitoring-plugins-basic, mtr-tiny, php-image-graphviz, libjs-d3js, php-cli, php-mail, php-curl, php-intl, composer, nsca, traceroute , php-cli
Recommends: default-mysql-server, graphicsmagick-imagemagick-compat, icinga-cgi,icinga-cgi-bin
Pre-Depends: php-robmorgan-phinx
Architecture: all
Section: web
Priority: optional
Description: Icinga Configuration Web Interface
 Tool for generation icinga 1.x configuration for multiplete users.
