Source: icinga-editor
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: http://vitexsoftware.cz/monitoring.php

Package: icinga-editor
Depends: ${misc:Depends},libjs-twitter-bootstrap, ease-framework, dbconfig-common , php-mail, php5-curl, icinga, mtr-tiny, php-image-graphviz, libjs-d3js, php5-cli, php5-intl, composer, libjs-twitter-bootstrap-switch, nsca
Recommends: mysql-server,icinga-web, icinga-web-config-icinga, graphicsmagick-imagemagick-compat, pnp4icinga
Architecture: all
Section: web
Priority: optional
Description: Icinga Configuration Web Interface
 Tool for generation icinga 1.x configuration for multiplete users.


