#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	sed -i -e 's/..\//.\//g' debian/icinga-editor/usr/share/icinga-editor/about.php
	sed -i -e 's/..\/locale/\/usr\/share\/locale/g' debian/icinga-editor/usr/share/icinga-editor/includes/IEInit.php
	sed -i -e 's/..\/vendor/\/var\/lib\/icinga-editor/g' debian/icinga-editor/usr/share/icinga-editor/includes/IEInit.php
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g' debian/icinga-editor/usr/share/icinga-editor/includes/IEInit.php
